streamlit
faiss-cpu
pandas
numpy
openai
scikit-learn
google-generativeai
cosine-similarity
pydantic<3

# LangChain & Google GenAI kompatibel versi stabil
langchain==0.2.11
langchain-core==0.2.23
langchain-google-genai==0.0.12
